@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.card .img-gallery:hover{
  transform: scale(1.1);
}

body{
  background-color: #fff;
}

#filter-buttons button {
  border-radius: 3px;
  background: #f1f1f1;
  border-color: transparent;
  font-family: "Poppins", sans-serif;
}

#filter-buttons button:hover {
  background: #ddd;
}

#filter-buttons button.active {
  color: #fff;
  background: #0a1a28;
}

#filterable-cards .card {
  font-family: "Poppins", sans-serif;
  width: 15rem;
  border: 2px solid transparent;
}

#filterable-cards .card.hide {
  display: none;
}

.height{

  height: 100vh;
}

.form{

  position: relative;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}