@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.card .img-gallery:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card .img-gallery{
  width: 190px;
  height: 190px;
}


body{
  background-color: #fff;
}


#filter-buttons button {
  border-radius: 3px;
  background: #007bff;
  border-color: transparent;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#filter-buttons button:hover {
  background: #3f3b3b;
  color: #ffffff;
}

#filter-buttons button.active {
  color: #fff;
  background: #3f3b3b;
}

#filterable-cards .card {
  font-family: "Poppins", sans-serif;
  width: 12rem;
  border: 2px solid transparent;
}

#filterable-cards .card.hide {
  display: none;
}

#filterable-cards{

  border-radius: 1rem;
  background-color: #fefeff;
  margin-left: 60px;
}

.height{

  height: 100vh;
}

.form{

  position: relative;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}

